.containerImage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 45%;
  height: 100%;
  padding: 15px;
}

.input {
  display: none; 
}

.profileImageWrapper {
  display: flex;
  width: 320px;
  height: 320px;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer; 
  background-color: #bdbdbd;
  box-shadow: #616161a9 0px 10px 60px 4px;
}

.profileImage {
  width: 100%;
  height: 100%;
  object-fit: cover; 
  border-radius: 50%;
  
}

.iconOverlay {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5); 
  color: white;
  font-size: 40px;
  border-radius: 50%;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.profileImageWrapper:hover .iconOverlay {
  opacity: 1; 
}

.error {
  color: red;
  margin-top: 10px;
}
