body{
    margin: 0;
    padding: 0;
}
.background{
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.container-logo{
    width: 40%;
    height: 40%;
}
.logo{
    height: 100%;
    width: 100%;
    object-fit: cover;    
}

.text{
    color: #000;
    font-size: 1.5rem;
    width: 50%;
    text-align: center;
    margin: 0;
    margin-bottom: 20px;
}
.button-container{
    display: flex;
    flex-direction: row;
    gap: 100px;
    width: 50%;
    height: 4rem;
}
.button-container button{
    background-color: #39A900;
    color: #fff;
    border: none;
    width: 50%;
    height: 3rem;
    border-radius: 10px;
    font-size: 1rem;
    font-weight: bold;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: 0.8s;
    cursor: pointer;
}
.button-container button:hover{
    background-color: #007832;
    color: #fff;
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}